body{
    background-color: gray;
    margin: 10px 0px;
}

header{
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    margin:10px;
    margin-bottom: 20px;
}

nav > a{
    color: rgb(9, 153, 105);
    text-decoration: none;
}

nav > a:hover{
    color: rgb(10, 207, 141);
    text-decoration: underline;
}

main{
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
}

#article-content{
    background-color: blue;
    text-align: center;
}

#article-links{
    background-color: brown;
    text-align: center;
}


#article-links > h3:hover{
    background-color: aquamarine;
    
}


footer{
    background-color: black;
    color: white;
    padding: 1px;
    text-align: center;
    margin: 20px 0px;
}